html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#__next, .world-domination {
  min-width: 100vw !important;
  min-height: 100vh !important;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

body {
  background: linear-gradient(-45deg, #92420c, #682e44, #1d337a, #066964, #444b0b);
	background-size: 400% 400%;
	animation: gradient 7.5s ease infinite;
  position: relative;
}

.cycle {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #777;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.minklass {
  color: red
}

.headerInner {

}

header {
  width: 100%;
  background-color: black;
  height: 63px;
}

nav {
  color: white;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 63px;
  place-items: center;
}

nav {

}

nav div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, minmax(max-content, 1fr) );
  gap: 13px;
}

.headerInner div {
  display: flex;
  align-items: center;
}

.headerInner div:first-child {
  justify-content: flex-start
}

.headerInner div:last-child {
  justify-content: flex-end
}

header a:first-child { margin-left: 0 }
header a:last-child { margin-right: 0; }

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 60px;
  font-weight: 500;
  color: #e7e7e7;
}

a:hover {
  color: white;
}